# Application-specific configurations and cache
.gsd-keyboard.settings-ported
arduino-ide/
Arduino IDE/
btop/
cava/
coc/
dconf/
eog/
enchant/
evolution/
ghostty/
github-copilot/
gnome-session/
gnome-initial-setup-done
GIMP/
goa-1.0/
gtk-1.0/
gtk-3.0/
gtk-4.0/
htop/
hyprland/
ibus/
jxbrowser/
kicad/
Kvantum/
libaccounts-glib/
libreoffice/
mimeapps.list
nautilus/
Mousepad/
org.gnome.Ptyxis/
pulse/
qt5ct/
qt6ct/
QtProject.conf
rog/
styluslab/
swappy/
swaync/
totem/
user-dirs.dirs
user-dirs.locale
walls/
wallust/
wlogout/
zsh/
discord/
chromium/
Thunar/
